PORT=3333
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/aqui-comanda
MONGO_DB_NAME=aqui_comanda

CORS_ORIGIN=http://localhost:4200

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

LOG_LEVEL=debug
